<app-header></app-header>


<body>
	
				<div class="title">
					<h1>How to control pollution </h1>
          <h2>Follow these tips everyday to reduce pollution</h2>
				</div>
				<div class="content">
					
				<ol>
          <li>Using public transports</li>
          <li>Turn off the lights when not in use</li>
          <li>Recycle and Reuse</li>
          <li>Reduction of forest fires and smoking
          </li>
          <li>Avoid usage of crackers</li>
          <li>No to plastic bags</li>
          <li>Avoid using of products with chemicals</li>
          <li>Conserve energy - at home, at work, everywhere.</li>
          <li>Use filters for chimneys</li>
        </ol>
				</div>
			
			

	
</body>
